#logo{
    max-height:100px;
    max-width:auto;
}

.nav-item{
    padding-top: 120px;
    padding-right:100px;
}

#home{
    color:#EC1C24;
    font-weight: bold;
}

#about,
#portfolio,
#contact{
    color:white;
    font-weight: bold;
}

nav a,
nav a:link,
nav a:visited{
    display: inline;
    text-decoration: none;
}

.fb{
    padding-top: 120px;
    margin-left:300px;
    color:white;
}

.tk{
    padding-top: 120px;
    margin-left: 10px;
    color:white;
}

.ins{
    padding-top: 120px;
    margin-left: 10px;
    color:white;
}

.display-1{
    font-weight:bold;
    padding-top: 100px;
    margin-left: 100px;
}

@media screen and (min-width: 360px){
    h2{
        font-size:10px;
        font-weight:bold;
        color:white;
    }
}